@use "sass:math";

$cell-bg-white: #EFEFEF;
$cell-bg-black: #8877B7;
$cell-bg-hover: red;
$cell-size-percentage-of-parent: math.div(100%, 8);

.board{
	border: 1px solid black;
	display: inline-block;
	width: 500px;
	height: 500px;
	
	.row{
		display: flex;
		height: $cell-size-percentage-of-parent;

		.cell{
			display: inline-block;
			position: relative;
			width: $cell-size-percentage-of-parent;
			cursor: pointer;

			&:hover{
				background-color: $cell-bg-hover;
			}

			.piece{
				display: inline-block;

				height: 100%;
				width: 100%;

				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&.white{
					color: white;
					svg{
						stroke: black;
						stroke-width: 15;
					}
				}

				&.black{
					
				}

				&.white,&.black{
					svg{
						height: calc(100% - 22px);
					}
					position: relative;
					text-align:center;
				}
			}

			&.moveable{
				// Give it an icon
				&::before{
					$dot-width: 20px;
					content: "";
					border-radius: 50%;
					display: inline-block;
					height: $dot-width;
					width: $dot-width;
					background-color: rgb(0, 0, 0, 0.16);
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: calc($dot-width * -0.5);
					margin-top: calc($dot-width * -0.5);
				}

				.piece::before{
					$dot-width: 122%;
					content: url('data:image/svg+xml; utf8, <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="35" stroke="red" stroke-width="4" fill="none" /></svg>');
					border-radius: 50%;
					display: inline-block;
					height: $dot-width;
					width: $dot-width;
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: calc($dot-width * -0.5);
					margin-top: calc($dot-width * -0.5);
				}
			}
		}

		&:nth-child(odd){
			.cell{
				&:nth-child(odd){
					background-color: $cell-bg-white;
				}

				&:nth-child(even){
					background-color: $cell-bg-black;
				}
			}
		}

		&:nth-child(even){
			.cell{
				&:nth-child(even){
					background-color: $cell-bg-white;
				}

				&:nth-child(odd){
					background-color: $cell-bg-black;
				}
			}
		}
	}
}