@use "sass:math";

$cell-bg-white: lightgrey;
$cell-bg-black: darkgrey;
$cell-bg-hover: red;
$cell-bg-moveable: yellow;
$cell-size-percentage-of-parent: math.div(100%, 8);

.board{
	border: 1px solid black;
	display: inline-block;
	width: 500px;
	height: 500px;
	
	.row{
		display: flex;
		height: $cell-size-percentage-of-parent;

		.cell{
			display:inline-block;
			width: $cell-size-percentage-of-parent;
			cursor: pointer;

			&:hover{
				background-color: $cell-bg-hover;
			}

			&.moveable{
				background-color: $cell-bg-moveable !important;
			}

			/// TEMP for character display before sprites
			font-size: 45px;
			text-align: center;
			
			.white{
				color: white;
				text-shadow: 1px 1px 3px black;
			}
			.black{
				color: black;
			}
		}

		&:nth-child(odd){
			.cell{
				&:nth-child(odd){
					background-color: $cell-bg-white;
				}

				&:nth-child(even){
					background-color: $cell-bg-black;
				}
			}
		}

		&:nth-child(even){
			.cell{
				&:nth-child(even){
					background-color: $cell-bg-white;
				}

				&:nth-child(odd){
					background-color: $cell-bg-black;
				}
			}
		}
	}
}